.fa-brands{
  size: 90px;
}
.home{
  align-items: center;
  width: 100%;
  background-color: #9f7f42;
}
.introduction{
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e6d7ca;
  color: black;

}
.introduction h2{
  font-size: 60px;
  height: px;
}
.introduction .phrase{
  width: 40%;
  font-size: 20px;
}
.skillset h4{
  align-items: center;
  font-size: 40px;
}
p:not(description)
{
  display: inline-flex;
}

.skillItem {
  display: inline-block;
  width: 40vh;
  text-align: center;
  margin: 5px 50px;
  font-size: 2.7vh;
  padding-top: 5%;

}
.home{
  padding: 4%, 0%;
}
.title{
  font-weight: 900;
  font-size: 7vh;
  color: black;
  text-align: center;
}
.name{
  font-weight: 400;
}
.no-style p, a {
  text-decoration: none   ;
}
.menu{
  list-style: none;
  padding: 0 20px;
  position: absolute;
  top: 700px;
}
#navbar li a:hover{
   color:grey;
}

li{list-style: none;
padding: 0 20px;
position: relative;
float: right;}

#phrase description{
  color: #000;

  
}
p{
  color: #000;
 
}
.description{
  font-size: 30px;
}
::-webkit-scrollbar {
    display: none;
}
.home_title{
  color: #2a3087;
  font-family: 'Libra Serif Modern', sans-serif;

  
}


.menu-item{
  color: #9f7f42;
  font-family: Verdana;
}
.logo{
  background-color: #e6d7ca;
}

.introduction .home_title{
  font-size: 90px;
}
.blue_logo{
  position: absolute;
  left:1500px
}